/.idea/
/target/

ice_deflection.iml
icedeflection.iml

.env

src/main/resources/p1.txt
src/main/resources/p2.txt
src/main/resources/physic.txt
src/main/resources/ksi.txt
src/main/resources/psi.txt
src/main/resources/x.txt
